<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>职员信息修改页</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body>

<div class="layui-form-item" style="margin-top: 10px; margin-left: 5%;">
    <form class="layui-form" action="" method="post" id="empForm">
        {% csrf_token %}
        <div style="margin-top: 40px">
            <span>地址信息</span>
        </div>
        <hr class="layui-bg-blue">
        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-inline">
                <span class="layui-input"><{{ courier.tel }}/span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-inline">
                <span class="layui-input">{{ courier.mail }}</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">真实姓名</label>
            <div class="layui-input-inline">
                <span class="layui-input">{{ courier_reality.real_name }}</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline">
                <span class="layui-input">{{ courier_reality.gender }}</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证号</label>
            <div class="layui-input-inline" style="width: 414px">
                <span class="layui-input">{{ courier_reality.id_card }}</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">民族</label>
            <div class="layui-input-inline">
                <span class="layui-input">{{ courier_reality.nationality }}</span>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <a href="javascript:history.go(-1)" class="layui-btn layui-btn-primary">返回</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>