<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户创建订单页面</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>
<div class="layui-tab layui-tab-brief" lay-filter="demo">
    <div class="layui-tab-content" style="height: 100px; display: block; margin-left: 5%;">
        <div class="layui-tab-item layui-show">
            <div class="layui-form-item">
                <form class="layui-form" action="" method="post">
                    {% csrf_token %}
                    <div class="layui-form-item">
                        <span>收件人信息</span>
                        <hr class="layui-bg-blue">
                        <div class="layui-inline">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">收件人姓名</label>
                                    <div class="layui-input-inline">
                                        <span>{{ order.signer.signer_name }}</span>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">收件人电话</label>
                                    <div class="layui-input-inline">
                                        <span>{{ order.signer.signer_mobile }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">省份</label>
                                    <div class="layui-input-inline">
                                        <span>{{ order.signer.province }}</span>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">城市</label>
                                    <div class="layui-input-inline">
                                        <span>{{ order.signer.city }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">区域</label>
                                <div class="layui-input-inline">
                                    <span>{{ order.signer.district }}</span>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">详细地址</label>
                                <div class="layui-input-inline" style="width: 514px">
                                    <span>{{ order.signer.address }}</span>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top: 40px">
                            <span>货物信息</span>
                        </div>
                        <hr class="layui-bg-blue">
                        <div class="layui-inline">
                            <div class="layui-form-item">
                                <label class="layui-form-label">重量</label>
                                <div class="layui-input-inline">
                                    <span>{{ order.goods.goods_weight }}</span>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">体积</label>
                                <div class="layui-input-inline">
                                    <span>{{ order.goods.goods_volume }}</span>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">额外选项：</label>
                                <div class="layui-input-block">
                                    {% if order.goods.goods_value == 'on' %}
                                    <input type="checkbox" name="goodsValue" title="贵重" checked>
                                    {% else %}
                                    <input type="checkbox" name="goodsValue" title="贵重">
                                    {% endif %}
                                    {% if order.goods.goods_fast == 'on' %}
                                    <input type="checkbox" name="goodsFast" title="加急" checked>
                                    {% else %}
                                    <input type="checkbox" name="goodsFast" title="加急">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <a onclick="order_add({{ order.id }})" class="layui-btn" id="addOrder">立即接单</a>
                            <a href="javascript:history.go(-1)" class="layui-btn layui-btn-primary">返回</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/jquery/jquery-3.3.1.js"></script>
<script src="/static/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
{% csrf_token %}
<script>
    function order_add(id) {
        var csrf = $('input[name = "csrfmiddlewaretoken"]').val()
        $.ajax({
            url: '/courier/order_add/' + id + '/',
            type: 'POST',
            dataType: 'json',
            headers: {'X-CSRFToken': csrf},
            success: function (data) {
                if (data.code == '200') {
                    alert('接单成功');
                    location.href='/courier/courier_order_create'
                }

            },
            error: function (data) {
                alert('请求失败')
            }
        })
    }
    layui.use(['form', 'jquery', 'laydate', 'layer', 'laypage', 'dialog', 'element', 'upload', 'layedit'], function () {
        var form = layui.form(),
            layer = layui.layer,
            $ = layui.jquery,
            laypage = layui.laypage,
            laydate = layui.laydate,
            layedit = layui.layedit,
            element = layui.element(),
            dialog = layui.dialog;

        //获取当前iframe的name值
        var iframeObj = $(window.frameElement).attr('name');
        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor', {
            tool: ['strong' //加粗
                , 'italic' //斜体
                , 'underline' //下划线
                , 'del' //删除线
                , '|' //分割线
                , 'left' //左对齐
                , 'center' //居中对齐
                , 'right' //右对齐
                , 'link' //超链接
                , 'unlink' //清除链接
                , 'image' //插入图片
            ],
            height: 100
        })
        //全选
        form.on('checkbox(allChoose)', function (data) {
            var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
            child.each(function (index, item) {
                item.checked = data.elem.checked;
            });
            form.render('checkbox');
        });
        form.render();
    });
</script>

</body>
</html>